<!doctype html>

<style>
  body {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }

  #body {
    flex: 1;
  }

</style>

<html lang="en">
    {{ partial "head.html" .}}
  <body class="has-fixed-navbar-top">
    <section class="section">
        {{ partial "nav.html" . }}
    </section>
    <section class="section" id="body">
        <div class="container">
                {{ block "main" . }}{{ end }}
        </div>
    </section>
    {{ partial "footer.html" (dict "email" .Site.Params.email)}}
  </body>
</html>