<!doctype html>

<html lang="en">
    {{ partial "head.html" .}}
    <body class="has-fixed-navbar-top">
    <section class="section">
        {{ partial "nav.html" .}}
    </section>

    <section class="hero is-warning">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              404 Not Found
            </h1>
          </div>
        </div>
      </section>

    {{ partial "footer.html" (dict "email" .Site.Params.email)}}
    </body>
</html>